/*******************************************
GENERAL
********************************************/

header {
	margin: 0 10px; 
	padding: 10px 10px 0 10px;
}

h1 {
	margin: 0;
}

td, th {
	border: 1px solid #ccc;
	padding: 5px;
}

.col-wrapper {
	width: 1024px;	
}

tbody tr:hover {
  background-color: lightyellow;
}



/*******************************************
ONE COLUMN
********************************************/

div.options-dashboard {
	width: 984px;
	margin: 0 10px; 
	padding: 10px;
}

div.projections {
	width: 984px;
	margin: 0 10px; 
	padding: 10px;
}

div.projections-table-container {
	overflow: auto;
	height: 350px;
}

table.projections {
	width: 967px;
	font-size: .90em;
}

table.projections th.position, td.position {
	width: 3%;
}

table.projections th.name, td.name {
	width: 20%;
}

table.projections th.batting-order, td.batting-order {
	width: 4%;
}

table.projections th.hand, td.hand {
	width: 4%;
}

table.projections th.team, td.team {
	width: 4%;
}

table.projections th.opponent, td.opponent {
	width: 4%;
}

table.projections th.opponent-pitcher, td.opponent-pitcher {
	width: 20%;
}

table.projections th.opponent-era, td.opponent-era {
	width: 4%;
}

table.projections th.opponent-hand, td.opponent-hand {
	width: 4%;
}

table.projections th.salary, td.salary {
	width: 4%;
}

table.projections th.fppg, td.fppg {
	width: 4%;
}

table.projections th.vr, td.vr {
	width: 4%;
}



/*******************************************
TWO COLUMN
********************************************/

div.salaries,
div.top-plays,
div.leagues,
div.update {
	width: 472px; 
	margin: 0 10px; 
	padding: 10px;
}

div.salaries {
	float: left;
}

div.salaries-table-container {
	overflow: auto;
	height: 540px;
}

table.salaries {
	width: 455px;
}

div.top-plays {
	float: right;
}

div.top-plays-table-container {
	overflow: auto;
	height: 505px;
}

tr.top-play {
	text-decoration: line-through;
}

button.save-top-plays {
	margin-bottom: 10px;
}

span.save-top-plays-confirmation {
	font-size: 0.75em;
	color: green;
	margin-left: 5px;
	display: none;
}

div.optimal-lineups {
	float: left;
	width: 1024px; 
	margin: 0 10px; 
	padding: 10px;	
}

button.solver {
	float: left;
	margin-bottom: 10px;
}

div.optimal-lineup {
	float: left;
	width: 331px;
	margin: 10px 10px 10px 0; 
	display: inline-block;
	font-size: .90em;
}

p.league-time {
	margin: 0;
	padding: 0;
}

table.leagues {
	width: 270px;
}



/*******************************************
DASHBOARD
********************************************/

.projections-table-container .projections .hide-row {
	display: none;
}