header {
	margin: 0 10px; 
	padding: 10px;
}

h1 {
	margin: 0;
}

td, th {
	border: 1px solid #ccc;
	padding: 5px;
}

.col-wrapper {
	width: 1024px;	
}

div.salaries,
div.top-plays,
div.leagues,
div.update {
	width: 472px; 
	margin: 0 10px; 
	padding: 10px;
}

div.salaries {
	float: left;
}

div.top-plays {
	float: right;
}

div.salaries-table-container {
	overflow: auto;
	height: 540px;
}

table.salaries {
	width: 455px;
}

div.top-plays-table-container {
	overflow: auto;
	height: 505px;
}

tr.top-play {
	text-decoration: line-through;
}

button.save-top-plays {
	margin-bottom: 10px;
}

span.save-top-plays-confirmation {
	font-size: 0.75em;
	color: green;
	margin-left: 5px;
	display: none;
}

div.optimal-lineups {
	float: left;
	width: 1024px; 
	margin: 0 10px; 
	padding: 10px;	
}

div.optimal-lineup {
	float: left;
	width: 331px;
	margin: 10px 10px 10px 0; 
	display: inline-block;
	font-size: .90em;
}

button.solver {
	float: left;
	margin-bottom: 10px;
}

p.league-time {
	margin: 0;
	padding: 0;
}

table.leagues {
	width: 270px;
}